@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    padding: 0px;
    margin: 0;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
 
  * {
    margin: 0;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
 
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
 
  #root, #__next {
    isolation: isolate;
  }
  *::placeholder {
    color: #959595;
    font-size: 9px;
    padding: 2px;
}